body {
	margin: 0;
	font-family: monospace;
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}
h1 {
	margin: 40px auto;
	color: #0a91ff;
	text-align: center;
}
ul {
	padding: 0;
	list-style-type: none;
}
li {
	padding: 6px 10px;
	border: 1px solid #eee;
	margin: 10px auto;
}
li h4 {
	color: #0a91ff;
	margin: 0;
	text-transform: capitalize;
}
li p {
	color: #333;
	margin: 8px 0 0;
}
footer {
	background: #eee;
	padding: 60px;
	margin-top: 60px;
	position: fixed;
	bottom: 0;
	left: 0%;
	right: 0%;
	text-align: center;
}
form {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}
label {
	display: block;
	font-weight: bold;
	font-size: 0.8em;
	color: #333;
	margin: 16px 0 6px;
}
input,
select {
	padding: 6px;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
}
input:focus,
select:focus {
	border: 1px solid #0a91ff;
}
.field {
	display: inline-block;
	margin: 0 10px;
}
button {
	color: white;
	border: 0;
	background: #0a91ff;
	padding: 6px;
	min-width: 80px;
	border-radius: 4px;
	cursor: pointer;
}
footer a {
	text-decoration: none;
	color: rgb(22, 156, 189);
	font-size: 1rem;
	font-weight: bold;
	margin-top: 3rem;
}

footer a:hover {
	text-decoration: underline;
}
.copyrights {
	margin-top: 2.5rem;
}
